@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 70, 62);
}

header {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .menu .btn-primary {
    background-color: rgb(54, 70, 62);
    border: none;
}

header .menu .btn-primary img {
    width: 25px;
    height: 25px;
}

header .menu .offcanvas .offcanvas-body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
    margin: 0;
    padding-left: 30px;
}

header .menu .offcanvas .offcanvas-body ul li {
    padding-top: 15px;
    transition-duration: 0.5s;
}

header .menu .offcanvas .offcanvas-body ul li a {
    text-decoration: none;
    color: rgb(54, 70, 62);
    font-size: 25px;
    font-weight: 600;
    transition-duration: 0.5s;
}

header .logo {
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

#uno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#uno div #text {
    width: 190px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-family: "Zalando Sans SemiExpanded";
    background-color: #ffffffc9;
    margin-right: 10px;
}

#uno div #botonNombre {
    width: 90px;
    height: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Zalando Sans SemiExpanded";
    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#uno div #botonNombre:hover {
    transform: scale(1.1);
}

#uno h2 {
    padding-top: 10px;
    text-align: center;
    font-family: "Zalando Sans SemiExpanded";
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

#registros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65vh;
}

#registros .div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
    width: 18%;
    height: 40%;
    position: relative;
}

#registros .div .informacion {
    position: absolute;
    left: 300px;
    top: 15px;
    margin: 0;
}

#registros .div .informacion .signointe{
    width: 22px;
    height: 25px;
}

#registros .div .contenedor img {
    width: 50px;
    height: 50px;
}

#registros .div .contenedor {
    width: 80%;
}

#registros .div .contenedor h2 {
    font-family: "Zalando Sans SemiExpanded";
    padding-top: 10px;
    padding-bottom: 10px;
}

#registros .div .contenedor h3 {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 15px;
    font-weight: 100;
}

#registros .div .imput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#registros .div .imput h2 {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 25px;
    font-weight: 100;
}

#registros .div .imput .boton {
    width: 20px;
    height: 20px;
}

#registros .div .imput .menos {
    font-family: "Zalando Sans SemiExpanded";
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 100;
}

#registros .div .imput .counter {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 25px;
    font-weight: 100;
}

#registros .div .imput .mas {
    font-family: "Zalando Sans SemiExpanded";
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 100;
}

#aceptar {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 10vh;
}

#aceptar #guardar {
    font-family: "Zalando Sans SemiExpanded";
    font-size: 30px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: rgb(33, 43, 38);
    color: #fff;
    transition-duration: 0.5s;
}

#aceptar #guardar:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
}

footer {
    height: 5vh;
}

footer h2 {
    color: #fff;
    font-family: "Zalando Sans SemiExpanded";
    padding-top: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: 100;
}

#cajaregistro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#cajaregistro #cajaResumen {
    display: flex;
    justify-content: space-evenly;
}

#cajaregistro #cajaResumen .contenedor {
    display: flex;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: ridge 10px #fff;
    padding: 10px;
    background-color: #ffffff4f;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
}

#cajaregistro #cajaResumen .contenedor .resumenDatos ul {
    list-style: none;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos ul li {
    color: black;
    padding: 10px;
    font-size: 20px;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionBien{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionMal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionBien h2{
    font-family: "Zalando Sans SemiExpanded";
    font-size: 20px;
    color: rgb(0, 102, 0);
    margin: 0;
    padding-right: 15px;
    width: 50%;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionMal h2{
    font-family: "Zalando Sans SemiExpanded";
    font-size: 20px;
    color: rgb(165, 1, 1);
    margin: 0;
    padding-right: 15px;
    width: 50%;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionBien img{
    width: 30px;
    height: 30px;
}

#cajaregistro #cajaResumen .contenedor .resumenDatos .devolucionMal img{
    width: 30px;
    height: 30px;
}
